.section-hero {
  height: 100vh;
  background: #576f35;
  background-image: url(../img/hero/hero–mobile/img-1-mobile.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 100px;
}

@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: url(../img/hero/hero–mobile/img-1-mobile@2x.jpg);
    background-size: 375px;
  }
}

.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: clamp(2.875rem, 0.6932rem + 10.9091vw, 3.25rem);
}

.hero-p {
  line-height: 1.43;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .section-hero {
    padding-top: 120px;
    height: 122vh;
    background-image: url(../img/hero/hero–tablet/img-1-tablet.jpg);
  }
  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-hero {
      background-image: url(../img/hero/hero–tablet/img-1-tablet@2x.jpg);
      background-repeat: no-repeat;
      background-size: 768px;
    }
  }
  .hero-title {
    font-size: 76px;
    margin-bottom: 24px;
  }
  .hero-p {
    max-width: 603px;
    line-height: 1.25;
  }
}

/* Desctop */

@media only screen and (min-width: 1280px) {
  .section-hero {
    padding-top: 232px;
    height: 95.2vh;
    background-image: url(../img/hero/hero–desktop/img-1-desktop.jpg);
    background-position: calc(50% + 320px) center;
  }
  @media screen and (min-width: 1280px) and (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: url(../img/hero/hero–desktop/img-1-desktop@2x.jpg);
      background-size: 640px;
      background-repeat: no-repeat;
    }
  }

  .hero {
    height: 95.2vh;
  }
  .hero-title {
    max-width: 502px;
    margin-bottom: 128px;
  }
  .hero-p {
    max-width: 471px;
  }
}

