.section-hero {
  background: #576f35;
  padding-bottom: 0;
  padding-top: 100px;
}

.hero {
  padding: 0;
}

.main-text {
  margin-bottom: 40px;
  padding: 0 20px;
}

.hero-title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: clamp(2.875rem, 0.6932rem + 10.9091vw, 3.25rem);
}

.hero-p {
  line-height: 1.43;
}

/* For mobile */
.img-bgr {
  min-height: 320px;
  background-image: url(../img/hero/hero–mobile/img-1-mobile.jpg);
  background-size: cover;
}

/* For mobile */
@media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .img-bgr {
    background-image: url(../img/hero/hero–mobile/img-1-mobile@2x.jpg);
  }
}

/* For tablet */
@media only screen and (min-width: 768px) {
  .section-hero {
    padding-top: 120px;
  }
  .img-bgr {
    background-image: url(../img/hero/hero–tablet/img-1-tablet.jpg);
    min-height: 536px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 24px;
  }
  .hero-p {
    max-width: 603px;
    line-height: 1.25;
  }

  .main-text {
    margin-bottom: 52px;
    padding: 0 32px;
  }
}

/* For tablet */
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .img-bgr {
    background-image: url(../img/hero/hero–tablet/img-1-tablet@2x.jpg);
  }
}

@media only screen and (min-width: 1280px) {
  .section-hero {
    padding: 0;
  }
  .hero {
    display: flex;
    justify-content: space-between;
  }
  .img-bgr {
    background-image: url(../img/hero/hero–desktop/img-1-desktop.jpg);
    height: 796px;
    background-size: cover;
    background-position: center;
    min-width: 640px;
  }

  .main-text {
    align-self: flex-end;
    padding: 0;
    padding-right: 100px;
  }

  .hero-title {
    max-width: 502px;
    margin-bottom: 128px;
  }
  .hero-p {
    max-width: 471px;
  }
}

/* For tablet */
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .img-bgr {
    background-image: url(../img/hero/hero–desktop/img-1-desktop@2x.jpg);
  }
}
